html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='assets/reset.css')
    link(rel='stylesheet', href='assets/general.css')
    link(rel='stylesheet', href='assets/main.css')
    link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css')

  body
    form.pure-form.pure-form-stacked
      fieldset
        h3 Quais são os maiores desafios do seu projeto?
        each challenge, index in db.challenges
          label.pure-checkbox.gradient
            input(type='checkbox', name="challenges", value=index)
            span= challenge

      fieldset
        h3 Qual a duração do projeto (tempo de desenvolvimento + tempo que ficará online)?
        each time, index in db.time
          label.pure-radio.gradient
            input(type='radio', name="time", value=index)
            span= time

      fieldset
        h3 Com quais das seguintes questões sua equipe mais se preocupa?
        each premise, index in db.premises
          label.pure-checkbox.gradient
            input(type='checkbox', name="premises", value=index)
            span= premise

    div#response Marque suas dificuldades e verei como posso ajudar...
    div.credits
      | Want to see behind the scenes? Go to
      a(href='/tables') the tables
      | to see the data behind this.
      br
      br
      br
      | Icons made by
      a(href='http://www.flaticon.com/authors/elegant-themes', title='Elegant Themes') Elegant Themes
      | and
      a(href='http://www.flaticon.com/authors/google', title='Google') Google
      |  from
      a(href='http://www.flaticon.com', title='Flaticon') www.flaticon.com
      |  is licensed by
      a(href='http://creativecommons.org/licenses/by/3.0/', title='Creative Commons BY 3.0', target='_blank') CC 3.0 BY

    script(src='/socket.io/socket.io.js')
    script(src='assets/client.js')
