html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='assets/reset.css')
    link(rel='stylesheet', href='assets/main.css')

  body
    form.pure-form.pure-form-stacked
      fieldset
        h3 Quais são os maiores desafios do seu projeto?
        each challenge, index in db.challenges
          label.pure-checkbox
            input(type='checkbox', name="challenges", value=index)
            span= challenge

      fieldset
        h3 Qual a duração do projeto (tempo de desenvolvimento + tempo que ficará online)?
        each time, index in db.time
          label.pure-radio
            input(type='radio', name="time", value=index)
            span= time

      fieldset
        h3 Com quais das seguintes questões sua equipe mais se preocupa?
        each premise, index in db.premises
          label.pure-checkbox
            input(type='checkbox', name="premises", value=index)
            span= premise

    div#response Marque suas dificuldades e verei como posso ajudar...

    script(src='/socket.io/socket.io.js')
    script(src='assets/client.js')
