html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='assets/reset.css')
    link(rel='stylesheet', href='assets/tables.css')
    link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css')  

  body
    - function capitalizeFirstLetter(string) {
    -   return string.charAt(0).toUpperCase() + string.slice(1);
    - }
    h3 Bases de comparação
    each tableName in db.bases
      table
        thead
          tr
            - var name = capitalizeFirstLetter(tableName)
            th= name
        tbody
          - var baseDatabase = db[tableName]
          each premise in baseDatabase
            tr
              td= premise

    h3 O que vai ser comparado
    each tableName in db.comparisons
      table
        thead
          tr
            - var name = capitalizeFirstLetter(tableName)
            th= name
        tbody
          - var comparisonDatabase = db[tableName]
          each comparison in comparisonDatabase
            tr
              td= comparison

    each parentTableName in db.comparisons
      - var name = capitalizeFirstLetter(parentTableName)
      each tableName in db.bases
        - var baseName = capitalizeFirstLetter(tableName)
        h3 #{name} x #{baseName}
        table
          thead
            tr
            - var comparisonDatabase = db[tableName]
            each comparisonTitle in comparisonDatabase
              th= comparisonTitle
          tbody
            tr
              - var comparisonResultsDatabase = db[parentTableName + 'Comparison'][tableName]
              each comparisonResults in comparisonResultsDatabase
                td
                  - var comparison = comparisonResults.join(' ou ')
                  =comparison
