html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='assets/reset.css')
    link(rel='stylesheet', href='assets/general.css')
    link(rel='stylesheet', href='assets/tables.css')
    link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css')

  body
    - function capitalizeFirstLetter(string) {
    -   return string.charAt(0).toUpperCase() + string.slice(1);
    - }
    header
      .left
        a(href='/')
          h1.logo zhou-yi
            span } web dev divination wanted?

      .right
        iframe(src="https://ghbtns.com/github-btn.html?user=caiovaccaro&repo=zhou-yi&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px")

    h3 Bases of comparison
    each tableName in db.bases
      table
        thead
          tr
            - var name = capitalizeFirstLetter(tableName)
            th.gradient= name
        tbody
          - var baseDatabase = db[tableName]
          each premise in baseDatabase
            tr
              td= premise

    h3 What is going to be compared
    each tableName in db.comparisons
      table
        thead
          tr
            - var name = capitalizeFirstLetter(tableName)
            th.gradient= name
        tbody
          - var comparisonDatabase = db[tableName]
          each comparison in comparisonDatabase
            tr
              td= comparison

    each parentTableName in db.comparisons
      - var name = capitalizeFirstLetter(parentTableName)
      each tableName in db.bases
        - var baseName = capitalizeFirstLetter(tableName)
        h3 #{name} x #{baseName}
        table
          thead
            tr
            - var comparisonDatabase = db[tableName]
            each comparisonTitle in comparisonDatabase
              th.gradient= comparisonTitle
          tbody
            tr
              each comparisonTitle in comparisonDatabase
                - var comparisonResults = db[parentTableName + 'Comparison'][tableName][comparisonTitle]
                td
                  - var comparison = comparisonResults instanceof Array ? comparisonResults.join(' or ') : comparisonResults
                  =comparison
